<h1>仕入一覧</h1>

<table>
  <thead>
    <tr>
      <th>仕入日</th>
      <th>商品名</th>
      <th>個数</th>
      <th>業者名</th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_records.each do |purchase_record| %>
      <tr>
        <td><%= purchase_record.purchase_date %></td>
        <td><%= purchase_record.product.name %></td>
        <td><%= purchase_record.quantity %></td>
        <td><%= purchase_record.supplier.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>