<p>商品名: <%= @product.name %></p>
<p>単価: <%= @product.price %>円</p>
<p>在庫数: <%= @product.stock %>個</p>
<p>業者名:
  <% @suppliers.each do |supplier| %>
    <%= link_to supplier.name, supplier_path(supplier) %>
    &nbsp;
  <% end %>
</p>